<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('partials/navigation')%>

    <h1 id="y">TechNotices</h1>
   

    <img id="imagen" width="400" height="300" src="img/padoru.jpg">
    <h4 id="u">Estas son las noticias más recientes : </h4> 
    <br>

    <h5>NVIDIA GeForce RTX 4080, análisis: este monstruo gráfico tiene la receta para triturar juegos a 4K con 'ray tracing'</h5>
    
    <%-include('partials/footer')%>
</body>
</html>