<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daywa</title>
    <link rel="stylesheet" href="../public/Registro.css">
</head>
<body>
    <header>TECHNOTICES</header>
    <div class="container">
        <div class="children-container">
            <section>
                <h3>Formulario Registro</h3>
                <input type="text" name="Nombre" class="textInput separator" placeholder=" Ingrese su nombre..." size="30" required><br>
                <input type="text" name="Apellidos" class="textInput separator" placeholder=" Ingrese sus apellidos..." size="70" required> <br>
                <input type="email" name="Correo" class="textInput separator" placeholder=" Ingrese su correo..."  pattern=".+@gmail\.com" size="80" required><br>
                <input type="text" name="Usuario" class="textInput separator" placeholder=" Ingrese su nickname..." size="30"  required><br>
                <input type="text" name="Contrasenya"  class="textInput separator" placeholder=" Ingrese su contraseña..." size="30" required><br>              
                <input type="text" name="RContrasenya" class="textInput separator" placeholder=" Repita contraseña." size="30" required><br>
                <hr>
                <input type="submit" value="Registrarse" class="bRegistro">
            </section>
        </div>
       
    </div>
    <footer>Desarrollado por el grupo de: Antonio Jose Diaz,  Manuel Carlos Maqueda,
        Monica Mariño y Miguel Ignacio  Guerrero</footer>
   
</body>
</html>