*
{
    margin: 0;
    padding: 0;
    
}

.container
{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-celeste_1077-3.jpg?w=740&t=st=1671038309~exp=1671038909~hmac=e3f804ed015098ce12585b9bb1ab4f172692dfa5f7bcd63edd3e72973700f6c9);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(149, 193, 250);
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.children-container
{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(97, 97, 255);
}

section
{
    border: 2px solid black;
    padding: 15px;
    background: rgb(149, 193, 250);
}

section h3
{
    color: white;
    font-weight: bold;
}
.separator
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.textInput
{
    width: 320px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: rgb(209, 209, 255);
    font-size: 16px;
}

.bRegistro
{
    width: 90%;
    background: #1f53c5;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 18px;
}

form
{ 
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    
}

header
{
    height: 30px;
    background: rgb(149, 193, 250);
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}

footer
{
    height: 30px;
    background: rgb(149, 193, 250);
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}
